.btn-custom-primary {
  background-color: #3f90fc;
}
.btn-custom-dark {
  background-color: #434141;
}

.menubar {
  width: 100%;
  height: 700px;
  background-image: url(https://www.pathwaystoeducation.ca/wp-content/uploads/2019/04/NVW-KorinneArticle-HeroImage_0-copy.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.menubar::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
}

.banner-text {
  position: absolute;
  top: 40%;
  left: 32%;
}
@media only screen and (max-width: 768px) {
  .banner-text {
    top: 40%;
    left: 5%;
  }
}
